<!-- Footer -->
<footer class="footer-area bg-img" style="background-image: url(img/bg-img/3.jpg);">
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>Copyright &copy;2024 &nbsp;|&nbsp; All Rights Reserved &nbsp;|&nbsp; PlantEase</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p style="text-align: right;"><span>Contact Us:</span>&nbsp; +91 87000 76574 &nbsp;|&nbsp; contact@plantease.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/plugins/plugins.js"></script>
<script src="/js/active.js"></script>
</body>

</html>