<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PlantEase</title>
        <link rel="stylesheet" href="/style.css">
        <link href="/css/bootstrap.min.css" rel="stylesheet" media="all">
        <link href="/css/animate.css" rel="stylesheet" media="all">
        <link href="/css/classy-nav.css" rel="stylesheet" media="all">
        <link href="/css/elegant-icon.css" rel="stylesheet" media="all">
        <link href="/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="/css/magnific-popup.css" rel="stylesheet" media="all">
        <link href="/css/owl-carousel.min.css" rel="stylesheet" media="all">
    </head>
    <body>
        
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="/img/core-img/leaf.png" alt="">
        </div>
    </div>

    <!-- Navbar -->
    <header class="header-area">
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">
                        <a class="nav-brand">Plant Ease<img src="" alt=""></a>
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                        <div class="classy-menu">
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <div class="classynav">
                                <ul>
                                    <li><a>Explore</a></li>
                                    <li><a href="about.html">Care</a></li>
                                    <li><a href="#">Buy</a>
                                        <ul class="dropdown">
                                            <li><a href="">Category 1</a></li>
                                            <li><a href="">Category 2</a></li>
                                            <li><a href="">Category 3</a></li>
                                            <li><a href="">Category 4</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.html">Garden</a></li>
                                    <li><a href="login">Login</a></li>
                                </ul>
                                <div id="searchIcon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                        </div>
                    </nav>
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>