<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PlantEase</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-circle"></div>
    <div class="preloader-img">
        <img src="images/leaf.png" alt="">
    </div>
</div>

<!-- Navbar -->
<header class="header-area">
    <div class="alazea-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <nav class="classy-navbar justify-content-between" id="alazeaNav">
                    <a href="/" class="nav-brand" style="-webkit-text-stroke: white 1x;">Plant Ease<img src="" alt=""></a>
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/care">Care</a></li>
                                <li><a href="shop">Shop</a>
                                    <ul class="dropdown">
                                        <li><a href="shop.ejs">Home Decor</a></li>
                                        <li><a href="shop.ejs">Medicinal Herbs</a></li>
                                        <li><a href="shop.ejs">Plant Care</a></li>
                                        <li><a href="shop.ejs">Others</a></li>
                                    </ul>
                                </li>
                                <li><a href="garden.ejs">Garden</a></li>
                                <li><a href="/comms">Community</a></li>
                                <% if (locals.email) { %> 
                                    <li style="color: white;"> <%= locals.email %> </li>
                                <%} else { %>
                                <li><a href="/login">Login</a></li>
                                <% } %>
                            </ul>
                            <div id="cartIcon">
                                <a href="/cart">
                                    <div id="cartIcon">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>  
                            
                            <div id="searchIcon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="search-form">
                    <form action="/search" method="POST">
                        <input type="text" name="t" id="search" placeholder="Type keywords &amp; press enter...">
                        <button type="submit" class="d-none"></button>
                    </form>
                    <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
</header>