<%- include('partials/nav.ejs') %>

<div class="breadcrumb-area">
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(images/home3.jpg);">
        <h2>Care</h2>
    </div>
    <br>
</div>


<iframe
src="https://www.chatbase.co/chatbot-iframe/eWMMUFkAHk4AVuiNSzihS"
title="Chatbot"
width="100%"
style="height: 100%; min-height: 700px"
frameborder="0"
></iframe>


<script>
    window.embeddedChatbotConfig = {
    chatbotId: "eWMMUFkAHk4AVuiNSzihS",
    domain: "www.chatbase.co"
    }
    </script>
    <script
    src="https://www.chatbase.co/embed.min.js"
    chatbotId="eWMMUFkAHk4AVuiNSzihS"
    domain="www.chatbase.co"
    defer>
    </script>


<!-- Footer -->
<footer class="footer-area bg-img" style="background-image: url(img/bg-img/3.jpg);">
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>Copyright &copy;2024 &nbsp;|&nbsp; All Rights Reserved &nbsp;|&nbsp; PlantEase</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p style="text-align: right;"><span>Contact Us:</span>&nbsp; +91 87000 76574 &nbsp;|&nbsp; contact@plantease.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery/jquery-2.2.4.min.js"></script>
<script src="js/bootstrap/popper.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/plugins/plugins.js"></script>
<script src="js/active.js"></script>
</body>

</html>