<%- include('partials/nav.ejs') %>

<div class="breadcrumb-area">
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(images/home3.jpg);">
        <h2>Shop</h2>
    </div>
    <br>
</div>

<!-- ##### Shop Area Start ##### -->
<section class="shop-page section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop-sorting-data d-flex flex-wrap align-items-center justify-content-between">
                    <div class="shop-page-count">
                        <p>Showing 1–11 of 11 results</p>
                    </div>
                    <div class="search_by_terms">
                        <form action="#" method="post" class="form-inline">
                            <select class="custom-select widget-title">
                                <option selected>Sort by Price</option>
                                <option value="1">Sort by Name</option>
                            </select>
                            <select class="custom-select widget-title">
                                <option selected>Show : 9 Items</option>
                                <option value="1">Show : 6 Items</option>
                                <option value="2">Show : 4 Items</option>
                                <option value="3">Show : 12 Items</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop-sidebar-area">
                    <div class="shop-widget price mb-50">
                        <h4 class="widget-title">Prices</h4>
                        <div class="widget-desc">
                            <div class="slider-range">
                                <div data-min="138" data-max="1899" data-unit="₹" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="8" data-value-max="30" data-label-result="Price:">
                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all first-handle" tabindex="0"></span>
                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                </div>
                                <div class="range-price">Price: ₹138 - ₹1899</div>
                            </div>
                        </div>
                    </div>
                    <div class="shop-widget catagory mb-50">
                        <h4 class="widget-title">Categories</h4>
                        <div class="widget-desc">
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Home Decor</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2">Medicinal Herbs</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck3">Plant Care</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center mb-2">
                                <input type="checkbox" class="custom-control-input" id="customCheck5">
                                <label class="custom-control-label" for="customCheck4">Others</label>
                            </div>
                        </div>
                    </div>
                    <div class="shop-widget best-seller mb-50">
                        <h4 class="widget-title">Best Seller</h4>
                        <div class="widget-desc">

                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="./prod1"><img src="images/prod1.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="./prod1">Day Lily</a>
                                    <p>₹172.00</p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="/prod1"><img src="images/prod2.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="/prod1">Bio Fertilizers</a>
                                    <p>₹285.00</p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="/prod1"><img src="images/prod3.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="/prod1">Aloe Vera</a>
                                    <p>₹210.00</p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="/prod1"><img src="images/prod4.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="/prod1">Iot Device</a>
                                    <p>₹1899.00</p>
                                    <div class="ratings">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- All Products Area -->
            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop-products-area">
                    <div class="row">

                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod1.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">DECOR</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Day Lily</p>
                                    </a>
                                    <h6>₹172.00</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod2.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">CARE</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Bio Fertilizers</p>
                                    </a>
                                    <h6>₹285.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod3.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">MED</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Aloe Vera</p>
                                    </a>
                                    <h6>₹210.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod4.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">CARE</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Iot Device</p>
                                    </a>
                                    <h6>₹1899.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod5.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">DECOR</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Calathea</p>
                                    </a>
                                    <h6>₹1199.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod6.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">OTHERS</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Sickle</p>
                                    </a>
                                    <h6>₹348.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod7.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">MED</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Tulsi</p>
                                    </a>
                                    <h6>₹175.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod8.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">OTHERS</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Seed Basket</p>
                                    </a>
                                    <h6>₹549.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod9.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">DECOR</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Aglaonema</p>
                                    </a>
                                    <h6>₹138.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod10.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">CARE</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Pesticide</p>
                                    </a>
                                    <h6>₹799.00</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-area mb-50">
                                <div class="product-img">
                                    <a href="/prod1"><img src="images/prod11.jpg" alt=""></a>
                                    <div class="product-tag">
                                        <a href="#">MED</a>
                                    </div>
                                    <div class="product-meta d-flex">
                                        <a href="cart.html" class="add-to-cart-btn">Add to cart</a>
                                    </div>
                                </div>
                                <div class="product-info mt-15 text-center">
                                    <a href="/prod1">
                                        <p>Chamomile</p>
                                    </a>
                                    <h6>₹569.00</h6>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer-area bg-img" style="background-image: url(img/bg-img/3.jpg);">
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>Copyright &copy;2024 &nbsp;|&nbsp; All Rights Reserved &nbsp;|&nbsp; PlantEase</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p style="text-align: right;"><span>Contact Us:</span>&nbsp; +91 87000 76574 &nbsp;|&nbsp; contact@plantease.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery/jquery-2.2.4.min.js"></script>
<script src="js/bootstrap/popper.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/plugins/plugins.js"></script>
<script src="js/active.js"></script>
</body>

</html>